@model SampleProduct.ViewModels.Product.ProductEditModel
<div class="card" style="width: 40rem;">
    <div class="card-body">
        <h5 class="card-title mb-3">Product Edit</h5>
        <form class="px-2" action="~/Product/Edit/" method="post">
            <input type="hidden" value="@Model.Product.product_id" id="productId" />
            <div class="form-group">
                <div class="col-md-12 row">
                    <div class="col-md-5">
                        <span class="text-danger" id="errorMessage">@Model.ErrorMessage</span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="productName" class="form-label">Product Name</label>
                <input type="text" value="@Model.Product.product_name" asp-for="@Model.Product.product_name" class="form-control" id="productName" placeholder="name">
            </div>

            <div class="form-group mt-2">
                <label for="price" class="form-label">Price</label>
                <textarea type="text" rows="2" asp-for="@Model.Product.price" id="price" class="form-control"></textarea>
            </div>

            <div class="form-group mt-2">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" rows="2" asp-for="@Model.Product.description" id="description" class="form-control"></textarea>
            </div>

            <div class="form-group mt-3">
                <input onclick="updateProduct()" type="button" value="Update" class="btn btn-primary" />
                <a href="~/Product/Index" class="btn btn-dark ml-2">Back</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        function updateProduct() {
            var formData = new FormData();
            if($("#productName").val() == ""){
                $("#errorMessage").text("* Please enter product name!")
            }
            else if($("#productPrice").val() === "" || $("#productPrice").val() == 0) {
                $("#errorMessage").text("* Please enter a price!")
             }
            else {
               var productEditObject = {
                 product_id: $("#productId").val(),
                 product_name: $("#productName").val(),
                 price: $("#price").val(),
                 description: $("#description").val(),
             };

               formData.append("productEditModel", JSON.stringify(productEditObject));

                 Swal.fire({
                     title: 'Are you sure?',
                     text: "You want to update the Product!",
                     icon: 'warning',
                     showCancelButton: true,
                     confirmButtonColor: '#3085d6',
                     cancelButtonColor: '#d33',
                     confirmButtonText: 'Yes, Update it!'
                 }).then((result) => {
                     if (result.isConfirmed) {
                         $.ajax({
                             type: 'POST',
                             url: '@Url.Action("Edit", "Product")',
                             dataType: "json",
                             contentType: false,
                             processData: false,
                             cache: false,
                             data: formData,
                             success: function (response) {
                                if (response != null) {
                                    window.location.href = "/product/index";
                                 }
                             },
                             error: function (err) {
                                 console.log("Ajax isn't working");
                             }
                         });
                     }
                 });
            }
        }
    </script>
 }
